* {
    margin: 0;
}

h1  {
    font-family: monospace;
    text-align: left; 
    padding: 0.75em;
    color: orange;
}

#campusHeader {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    font-family: sans-serif;
    width: 100%;
    font-size: 5em;
}

#campusHeader:hover {
    {transform: scale(1.1);}
}

.arrow {
  position: absolute;
  left: 50%;
  margin-left:-20px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background-image: url(../photos/down-arrow.png);
  background-size: contain;
  
}

.bounce {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }






html, body, p {
    height: 100%;
    font-size: 10
}

.photo {
    height: 100%;
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;

}

.text {
    height: 40%;
    background-color: white;
    text-align: left;
}


.sectOne {
    background-image: url("../Bilder/westerdals1.jpg")
}

.sectTwo {
    background-image: url("../Bilder/westerdals2.jpg")
}

.sectThree {
    background-image: url("../Bilder/westerdals3.jpg")
}

#mapVulkan {
    height: 10em;
    width: 20em;
    border: 0.05em solid black;
    float: right;
    margin-right: 1em;
} 

#mapFjerdingen {
    height: 10em;
    width: 20em;
    border: 0.05em solid black;
    float: right;
    margin-right: 1em;
}

#mapBrenneriveien {
    height: 10em;
    width: 20em;
    border: 0.05em solid black;
    float: right;
    margin-right: 1em;
}


/*Consider using this orange - #FF9A00 for some standout pieces*/

/*COLOURS 1*/
/*Slightly darker grey*/
.header-container, .logo-container, .menu-dropdown, option, .tip-container, .back-to-top-middle-area{
    background-color: #595959;
}

/*DARKEST*/
.menu-container, .tip-bar, .form-button, .back-to-top-button, .search-criteria, .search-button, .language-button  {
    background-color: #404040;
}

.menu-line, .navigation-container:hover, .search-info-container, .event-btn:hover, .no-event, .x-line, .event-category{    
    background-color: #808080;
}

/*Slightly less dark grey*/
.event-map-container,.event-description-container, .event-btn {
    background-color: #FFF;
}

/*COLOURS 2*/

/*Slightly darker grey*/
.header-container, .logo-container, .menu-dropdown, option, .tip-container, .back-to-top-middle-area{
    background-color:#393E46;
}

/*DARKEST*/
.menu-container, .tip-bar, .form-button, .back-to-top-button, .search-criteria, .search-button, .language-button, .countdown-timer, .event-category, .event-btn  {
    background-color: #222831;
}

/*Slightly less dark grey*/
.menu-line, .navigation-container:hover, .event-btn:hover, .no-event, .x-line{    
    background-color: #00ADB5;
}

.search-info-container {
    background-color: #393E46;
}

.event-photo-container, .event-map-container,.event-description-container {
    background-color: #FFF;
}

.event-photo-container {
    background-color: transparent;
}



/*HEADER CSS*/
html * {

    font-family: monospace;
}
.header-container {
    height:90px;
    width:100%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    position: fixed;
    z-index:3;
    border: solid black 0.05em;
}

.menu-container {
    float:left; 
    width:90px;
    height:90px;
    min-width: 90px;
    min-height:90px;

}

.menu-button{
    width:50%;
    height:50%;
    position: relative;
    top: 25%;
    left: 25%;
    cursor: pointer;
}

.menu-line {
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.filler {
    background-color: transparent;
}

.logo-container {
    float:left;
    height: 100%;
    width: 300px;
}

.logo-container *{
    font-family: sans-serif;
    color: #FFF;
    position: relative;
}

.logo {
    line-height: 90px;  
    font-size: 3.1em;
    float: left;
}

.logo-filler {
    float: left; 
    width: 10%;
    height: 100%;
}

.tag-line-container {
    height: 100%;
    width: 40px;
    float: left;
    margin-left: 2.5%;
    padding-left: 2.5%;
}

.tag-line-container p{
    position: relative;
    top: 25%;
    color: #00ADB5;
    font-size: 1em;

}

.menu-dropdown {
    display:none;
    position: absolute;
    width:200px;
    text-align: left;
    box-shadow: 0px 8px 30px 0px #000;
    top:90px;
    bottom:0;
    left: 0;
    z-index: 99;
}

.menu-dropdown a{
    color: #FFF;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1em;
}


.icon {
    float: left;
    width:25%;
    height:100%;
}

.menu-choice-text {
    float: left;
    width:75%;
    height: 100%;
    line-height: 50px;
}

.icon img{
    position: relative;
    width:70%;
    left: 10px;
    top:15%;
    max-width: 100%;
}

.navigation-container {
    width:100%;
    height:50px;
    border-bottom: 1px solid #000;
}

.x-line {
    width:20%;
    height: 150%;
    position: absolute;
    transform: rotate(45deg);
    left: 40%;
    bottom: -25%;
}

.x-line-two {
    transform: rotate(-45deg);
}

.menu-x {
    display: none;
}

/*HEADER CSS ENDS*/

/*TIP BOX CSS STARTS*/

.tip-container {
    position: fixed;
    bottom:-281px;
    left:20px;
    width: 300px;
    height: 310px;
    border: 1px solid #000;
    color: #FFF;    
    transition: bottom linear 0.7s;
    z-index: 55;
}

.tip-bar {
    width: 100%;
    height:30px;
    border-bottom: 1px solid #000;
    position: relative;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 30px;
    cursor: pointer;    
    color: #FFF;

}

#tip-form {
    width:300px;
    text-align: center;
    font-family: sans-serif;
}

.form-input {
    width:90%;
}

.form-desc {
    width:90%;
    height: 70px;
    resize: none;
}

.form-button {    
    color: #FFF;
    cursor: pointer;
}

.tip-container:hover {
    bottom: 0;
}

/*TIP BOX CSS ENDS*/

/*RETURN TO TOP BUTTON CSS STARTS*/

.btn-top {
    position: fixed;
    display: none;
    cursor: pointer;
    bottom: 0;
    right: 40px;
    z-index: 50;
    width: 50px;
    height: 55px;
    background-color: rgba(13,16,19,.8);
    box-shadow: 0px 5px 2px 0px #000;
    border: none;
}

.up-icon {
    max-width: 100%;
}

/*RETURN TO TOP BUTTON CSS ENDS*/

/*START OFF SEARCH CSS*/
.search-container {
    width:100%;
    height:300px;
}

.search-box {
    max-width: 100%;
    width: 700px;    
    min-width: 800px;
    height: 25%;
    margin-left: 14.125%;
    position: relative;
    top: 30%;
}

.search-form {
    height: 100%;
}

.search-criteria {
    height: 100%;
    width: 22.5%;
    box-shadow: 0px 0px 0px 3px #00ADB5;    
    border: none;
    color: #00ADB5;
}

.search-criteria:hover {
    font-size: 1.1em;
}

.search-criteria, .search-button {
    background-color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    float: left;
    cursor: pointer;
}

.search-button {
    position: relative;
    width:10%;
    height: 100%;
    line-height: 2em;
    color: #FFF;
    background-color: #00ADB5;
    box-shadow: 0px 0px 0px 3px #00ADB5;    
    border-style: none;
}

.search-button:hover {
    
    font-size: 1.1em;
    box-shadow: 0px 0px 0px 3px #00ADB5;
}

.search-info-container {
    width: 900px;
    height: 80%;
    position: relative;
    margin: auto;
    top: 10%;
    box-shadow: 0px 1px 1px 0px #000;   

}

.search-info-header {
    text-align: center;
    color: #FFF;
    position: relative;
    top:25%;
    font-family: sans-serif;
    font-size: 2.5em;
    line-height: 0.4em;
}
/*SEARCH CSS ENDS*/


/*LANGUAGE BUTTON CSS STARTS*/
.language-container {
    position: absolute;
    right: 0;
    width: 150px;
    height: 100%;
}

.language-button {
    height: 50%;
    width: 80%;
    color: #FFF;
    position: absolute;
    top: 25%;
    left: 10%;
    box-shadow: 2px 2px 5px 1px #000;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 2.5em;
}

/*LANGUAGE BUTTON CSS ENDS*/

/*EVENT-CALENDAR CSS STARTS*/

.event-container {
    width: 100%;
    margin-top: 2.5%;
}

.event-inner-container {
    width: 1300px;
    height: 200px;
    margin: auto 0 5% 0;
    position: relative;
    top: 10%;
}

.event-map-container,.event-description-container {
    float: left;
    height: 100%;
    width: 20%;
}
.event-photo-container {
    max-height: 100%; 
    overflow: hidden;
    float: left;
    width: 20%;
}


.event-description-container {
    width: 40%;
    overflow: auto;
    overflow-x: hidden;
}

.event-social-container {
    width: 12.5%;    
    float: left;
    height: 100%;
    margin-left: 2.5%;
}

.event-background {
    height: 100%;
    width: 1300px;
    margin: auto;
    border-radius: 1%;
    padding: 2.5%;
    box-shadow: 0px 5px 20px 0px #000;
    background-color: rgba(50,50,50,0.2);
}
.event-photo {
    max-width: 150%;
    max-height: 150%;
}

.event-photo-default {
    max-width: 100%;
}

.event-description-title, .event-description-text {
    width:80%;
    margin: auto;
    text-align: center;
}

.event-description-title {
    height: 15%;
    padding: 2.5% 0 2.5% 0;
}
.event-btn, .countdown-timer, .event-category{
    width: 100%;
    height: 20%;
    box-shadow: 0px 5px 20px 0px #000;
    margin: auto;
    text-decoration: none;
    color: #000;
    margin-top: 12.5%;
}

.event-btn p{
    width: 50%;
    height: 100%;
    margin-top: 7.5%;
    margin-left: 7.5%;
    color: #FFF;
}

.event-btn *{
    float: left;
}

.event-btn-img {
    max-height: 100%;
    width:25%;
    margin-left: 5%;
}

.no-event {
    width: 1300px;
    height: 125px;
    margin: auto 0 5% 0;
    position: relative;
    top: 10%;
    box-shadow: 0px 5px 20px 0px #000;
    text-align: center;
}

.no-event-text {
    color: #FFF;
    font-size: 2.5em;

}

.one-line {
    line-height: 2.5em;
}

.two-lines {
    line-height: 1.45em;
}

.event-category p, .countdown-timer p{
    color: #FFF;
    text-align: center;
    line-height: 2.5em;
}

/*END EVENT CSS*/
