
body {
    margin: 0; 
    padding: 0;
    background-image: url(../Bilder/testBackground.jpg);
    min-height: 100%;
    max-width: 100%;
}

/*Consider using this orange - #FF9A00 for some standout pieces*/

/*COLOURS 1*/
/*Slightly darker grey*/
.header-container, .logo-container, .menu-dropdown, option, .tip-container, .back-to-top-middle-area{
    background-color: #595959;
}

/*DARKEST*/
.menu-container, .tip-bar, .form-button, .back-to-top-button, .search-criteria, .search-button, .language-button  {
    background-color: #404040;
}

.menu-line, .navigation-container:hover, .search-info-container, .event-btn:hover, .no-event, .x-line, .event-category{    
    background-color: #808080;
}

/*Slightly less dark grey*/
.event-map-container,.event-description-container, .event-btn {
    background-color: #FFF;
}

/*COLOURS 2*/

/*Slightly darker grey*/
.header-container, .logo-container, .menu-dropdown, option, .tip-container, .back-to-top-middle-area{
    background-color:#393E46;
}

/*DARKEST*/
.menu-container, .tip-bar, .form-button, .back-to-top-button, .search-criteria, .search-button, .language-button, .countdown-timer, .event-category, .event-btn  {
    background-color: #222831;
}

/*Slightly less dark grey*/
.menu-line, .navigation-container:hover, .event-btn:hover, .no-event, .x-line{    
    background-color: #00ADB5;
}

.search-info-container {
    background-color: #393E46;
}

.event-photo-container, .event-map-container,.event-description-container {
    background-color: #FFF;
}

.event-photo-container {
    background-color: transparent;
}



/*HEADER CSS*/
html * {

    font-family: sans-serif;
}
.header-container {
    height:90px;
    width:100%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 0px 6px 1px #000;
    position: relative;
    z-index:3;
}

.menu-container {
    float:left; 
    width:90px;
    height:90px;
    min-width: 90px;
    min-height:90px;

}

.menu-button{
    width:50%;
    height:50%;
    position: relative;
    top: 25%;
    left: 25%;
    cursor: pointer;
}

.menu-line {
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.filler {
    background-color: transparent;
}

.logo-container {
    float:left;
    height: 100%;
    width: 300px;
}

.logo-container *{
    font-family: sans-serif;
    color: #FFF;
    position: relative;
}

.logo {
    line-height: 90px;  
    font-size: 3.1em;
    float: left;
}

.logo-filler {
    float: left; 
    width: 10%;
    height: 100%;
}

.tag-line-container {
    height: 100%;
    width: 40px;
    float: left;
    margin-left: 2.5%;
    padding-left: 2.5%;
}

.tag-line-container p{
    position: relative;
    top: 11.5%;
    color: #00ADB5;
    font-size: 1em;
}

.menu-dropdown {
    display:none;
    position: absolute;
    width:200px;
    text-align: left;
    box-shadow: 0px 8px 30px 0px #000;
    top:90px;
    bottom:0;
    left: 0;
    z-index: 99;
}

.menu-dropdown a{
    color: #FFF;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1em;
}


.icon {
    float: left;
    width:25%;
    height:100%;
}

.menu-choice-text {
    float: left;
    width:75%;
    height: 100%;
    line-height: 50px;
}

.icon img{
    position: relative;
    width:70%;
    left: 10px;
    top:15%;
    max-width: 100%;
}

.navigation-container {
    width:100%;
    height:50px;
    border-bottom: 1px solid #000;
}

.x-line {
    width:20%;
    height: 150%;
    position: absolute;
    transform: rotate(45deg);
    left: 40%;
    bottom: -25%;
}

.x-line-two {
    transform: rotate(-45deg);
}

.menu-x {
    display: none;
}

/*HEADER CSS ENDS*/

/*TIP BOX CSS STARTS*/

.tip-container {
    position: fixed;
    bottom:-281px;
    left:20px;
    width: 300px;
    height: 310px;
    border: 1px solid #000;
    color: #FFF;    
    transition: bottom linear 0.7s;
    z-index: 55;
}

.tip-bar {
    width: 100%;
    height:30px;
    border-bottom: 1px solid #000;
    position: relative;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 30px;
    cursor: pointer;    
    color: #FFF;

}

#tip-form {
    width:300px;
    text-align: center;
    font-family: sans-serif;
}

.form-input {
    width:90%;
}

.form-desc {
    width:90%;
    height: 70px;
    resize: none;
}

.form-button {    
    color: #FFF;
    cursor: pointer;
}

.tip-container:hover {
    bottom: 0;
}

/*TIP BOX CSS ENDS*/

/*RETURN TO TOP BUTTON CSS STARTS*/

.btn-top {
    position: fixed;
    display: none;
    cursor: pointer;
    bottom: 0;
    right: 40px;
    z-index: 50;
    width: 50px;
    height: 55px;
    background-color: rgba(13,16,19,.8);
    box-shadow: 0px 5px 2px 0px #000;
    border: none;
}

.up-icon {
    max-width: 100%;
}

/*RETURN TO TOP BUTTON CSS ENDS*/

/*START OFF SEARCH CSS*/
.search-container {
    width:100%;
    height:300px;
}

.search-box {
    max-width: 100%;
    width: 700px;    
    min-width: 800px;
    height: 25%;
    margin-left: 14.125%;
    position: relative;
    top: 30%;
}

.search-form {
    height: 100%;
}

.search-criteria {
    height: 100%;
    width: 22.5%;
    box-shadow: 0px 0px 0px 3px #00ADB5;    
    border: none;
    color: #00ADB5;
}

.search-criteria:hover {
    font-size: 1.1em;
}

.search-criteria, .search-button {
    background-color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    float: left;
    cursor: pointer;
}

.search-button {
    position: relative;
    width:10%;
    height: 100%;
    line-height: 2em;
    color: #FFF;
    background-color: #00ADB5;
    box-shadow: 0px 0px 0px 3px #00ADB5;    
    border-style: none;
}

.search-button:hover {
    
    font-size: 1.1em;
    box-shadow: 0px 0px 0px 3px #00ADB5;
}

.search-info-container {
    width: 900px;
    height: 80%;
    position: relative;
    margin: auto;
    top: 10%;
    box-shadow: 0px 1px 1px 0px #000;   

}

.search-info-header {
    text-align: center;
    color: #FFF;
    position: relative;
    top:25%;
    font-family: sans-serif;
    font-size: 2.5em;
    line-height: 0.4em;
}
/*SEARCH CSS ENDS*/


/*LANGUAGE BUTTON CSS STARTS*/
.language-container {
    position: absolute;
    right: 0;
    width: 150px;
    height: 100%;
}

.language-button {
    height: 50%;
    width: 80%;
    color: #FFF;
    position: absolute;
    top: 25%;
    left: 10%;
    box-shadow: 2px 2px 5px 1px #000;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 2.5em;
}

/*LANGUAGE BUTTON CSS ENDS*/

/*EVENT-CALENDAR CSS STARTS*/

.event-container {
    width: 100%;
    margin-top: 2.5%;
}

.event-inner-container {
    width: 1300px;
    height: 200px;
    margin: auto 0 5% 0;
    position: relative;
    top: 10%;
}

.event-map-container,.event-description-container {
    float: left;
    height: 100%;
    width: 20%;
}
.event-photo-container {
    max-height: 100%; 
    overflow: hidden;
    float: left;
    width: 20%;
}

.event-photo-container, .event-map-container, .event-description-container {
    border: 0.1%;
    border-style: groove;
    border-color: rgba(50,50,50,0.2);
}


.event-description-container {
    width: 40%;
    overflow: auto;
    overflow-x: hidden;
}

.event-social-container {
    width: 12.5%;    
    float: left;
    height: 100%;
    margin-left: 2.5%;
}

.event-background {
    height: 100%;
    width: 1300px;
    margin: auto;
    border-radius: 1%;
    padding: 2.5%;
    box-shadow: 0px 5px 20px 0px #000;
    background-color: rgba(50,50,50,0.2);
}
.event-photo {
    max-width: 150%;
    max-height: 150%;
}

.event-photo-default {
    max-width: 100%;
}

.event-description-title, .event-description-text {
    width:80%;
    margin: auto;
    text-align: center;
}

.event-description-title {
    height: 15%;
    padding: 2.5% 0 2.5% 0;
}
.event-btn, .countdown-timer, .event-category{
    width: 100%;
    height: 20%;
    box-shadow: 0px 5px 20px 0px #000;
    margin: auto;
    text-decoration: none;
    color: #000;
    margin-top: 12.5%;
}

.event-btn p{
    width: 50%;
    height: 100%;
    margin-top: 7.5%;
    margin-left: 7.5%;
    color: #FFF;
}

.event-btn *{
    float: left;
}

.event-btn-img {
    max-height: 100%;
    width:25%;
    margin-left: 5%;
}

.no-event {
    width: 1300px;
    height: 125px;
    margin: auto 0 5% 0;
    position: relative;
    top: 10%;
    box-shadow: 0px 5px 20px 0px #000;
    text-align: center;
}

.no-event-text {
    color: #FFF;
    font-size: 2.5em;

}

.one-line {
    line-height: 2.5em;
}

.two-lines {
    line-height: 1.45em;
}

.event-category p, .countdown-timer p{
    color: #FFF;
    text-align: center;
    line-height: 2.5em;
}

/*END EVENT CSS*/


/*START SLIDESHOW CSS*/
.slideshow-container {
    width:100%;
    height: 450px;
    margin-top: 1%;
}

.event-slide {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.event-slide img {
    max-width: 100%;
}

.event-info-container {
    position: absolute;
    right: 0;
    top: 0;
    width:40%;
    height: 100%;
    background-color: rgba(50,50,50,0.5);
}

.event-info-container *{
    color: #FFF;
}
.event-info-container h2{
    text-align: center;
}

.event-info-container p{
    padding: 0, 5%, 0, 5%;
}

.event-info {
    height: 80%;
    width: 80%;
    margin: auto;
    overflow: auto;
}

.event-info-social {
    height: 20%;
    width: 100%;
}

.social-icon {
    width: 25%;
    height: 100%;
    float: left;
}

.social-icon * {
    max-width: 60%;
    max-height: 60%;
    margin-left: 12.5%;
    margin-top: 15%;
}

.social-icon-placing {

    margin-left: 12.5%;
}

.slideshow-btn {
    width: 40px;
    height: 15%;
    position: absolute;
    top: 42.5%;
    cursor: pointer;
    background-color: rgba(50,50,50,0.8);
    color: #FFF;
    font-size: 3.1em;
    z-index: 3;
    line-height: 1.15em;
    text-align: center;
    border: none;
}

.slideshow-right {
    right: 0;
}

.slideshow-photo-container {
    height:100%;
    width:100%;
}

.slideshow-event-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

/*END SLIDESHOW CSS*/

/*START ABOUT US CSS*/
.about-container {
    width: 100%;
    height: 715px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.photoBox {
    height: 100%;
    width: 1300px;
    margin: auto;
    position: relative;
    top: 30px;
    box-shadow: 1px 5px 20px 0px #000;
}

#infoTextBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33%;
    background-color: rgba(50,50,50,0.8);
    font-family: sans-serif;
    font-size: 1em;
    color: #FFF;
    text-align: center;
}

#photo1 {
    max-width: 100%;
}

#infoList {
    text-align: left;
}

.infoText {
    width: 80%;
    height: 80%;
    margin: auto;
}
/*END ABOUT US CSS*/

/* START LOGIN PAGE CSS*/
.login-link {
    position: absolute;
    bottom: 0;
}

.login-container {
    margin: 4% auto;
    width: 400px;
    height: 600px;
    background-color: #393E46;
    box-shadow: 0px 0px 3px 3px #00ADB5; 
}

.login-container-header {
    width: 100%;
    height: 15%;
}

.login-container-header h2{
    font-size: 3.1em;
    color: #FFF;
    text-align: center;
    line-height: 2em;
}

.login-label {
    font-size: 1em;
    color: #FFF;
    text-align: center;
    margin-top: 10%;
}

.login-input {
    font-size: 1em;
    width:80%;
    margin-left: 10%;
    border: none;
}

.login-form {
    width: 100%;
    height:85%;
}

.login-button {
    width: 80%;
    height: 10%;
    margin: 30% 10%;
    background-color: #00ADB5;  
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 1em;
    
    
}

/*END LOGIN PAGE CSS*/

/*DB MANAGEMENT PAGE CSS*/
.database-management-container {
    width: 100%;
    height: 300px;
    background-color: blue;
    display: none;
}

.login-button:hover {
    font-size: 1.1em;
}

.login-error {
    width: 500px;
    height:300px;
    background-color: yellow;
    margin: -550px auto;
    display: none;
}
