
/*#FECE60 - yellow*/
/*#51BBFE - blue*/

body {
    margin: 0; 
    padding: 0;
    background-color: #FCFCFC;
    min-height: 100%;

}/*
.header-container {
width:100%;
height:150px;
margin: auto;
display: inline-flex;
align-items: center;
background-color: #FFFFFF;
box-shadow: 0px 0px 6px 1px #000;
position: relative;
z-index: 3;
}

.nav-container {
width:10%;
height:100%;
margin-top:auto;    
display: inline-flex;
align-items: center;
}

.container {
margin-left: auto;
margin-right: auto;
width:100%;
}

.nav-button {
width:30%;
margin-left:30%;
height:60%;
max-width: 150px;
text-align: center;

}

.nav-button-line {
width:100%;
height:5%;
background-color:#0F0F0F;
margin: 1vh auto;
min-width:50px;
}

.logo-container {
width:50%;
height:100%;
}

.language-container {
width: 25%;
height:100%;
}

.filler-container {
width:15%;
height:100%;
}

.logo-container p{
text-align: center;
font-size: 4em;
position: relative;
top: 0;
}

.nav-dropdown {
display:none;
position: absolute;
width:250px;
text-align: center;
box-shadow: 0px 8px 30px 0px #000;
top:150px;
bottom:0;
left: 0;
background-color: #FFF;
z-index: 2;
}

.nav-dropdown a {
color: #000;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: 1.5em;
}

.nav-dropdown a:hover{
background-color:#51BBFE;
}

.linedivider {
position: relative;
width:5%;
height:100%;
background-color: #FFFFFF;
left:22.22%;
}
.nav-text {
width:100%;
height:30%;
margin-left: -25%;
}

.nav-text {
font-size: 2em;
}
.dropdown-container {
height:100%;
}

.overlay {
width:100%;
height:100%;
background-color: blue;
}
*/



/*HEADER2 CSS*/
.header-container {
    height:90px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 6px 1px #000;
    position: relative;
    z-index:3;
}

.menu-container {
    background-color: #404040;
    width:90px;
    height:90px;
    min-width: 90px;
    min-height:90px;

}

.menu-button {
    width:50%;
    height:50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.menu-line {
    width:100%;
    height: 20%;
    background-color:#808080;
    cursor: pointer;
}

.filler {
    background-color: transparent;
}

.logo-container {
    height: 100%;
    width:800px;
    min-width: 660px;
    background-color:#595959;
}

.logo-container *{
    font-family: sans-serif;
    color: #FFF;
    position: relative;
}

.logo {
    line-height: 90px;  
    font-size: 50px;
    width:33.33%;
    float: left;
    left: 5%;

}

.tag-line-container {
    height: 100%;
    width: 40%;
    float: left;

}

.tag-line-container p{
    position: relative;
    top: 10%;
    color:#808080;
}

.menu-dropdown {
    display:none;
    position: absolute;
    width:200px;
    text-align: left;
    box-shadow: 0px 8px 30px 0px #000;
    top:90px;
    bottom:0;
    left: 0;
    background-color: #595959;
    z-index: 2;
}

.menu-dropdown a{
    color: #FFF;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.5em;
}

.navigation-container:hover{
    background-color: #808080;
}

.icon {
    float: left;
    width:25%;
    height:100%;
}

.menu-choice-text {
    float: left;
    width:75%;
    height: 100%;
    line-height: 50px;
}

.menu-dropdown a *{
    border-bottom: 1px solid #000;
}

.icon img{
    position: relative;
    width:70%;
    left: 10px;
    top:15%;
}

.navigation-container {
    width:100%;
    height:50px;
}

.tip-container {
    position: fixed;
    bottom:-281px;
    left:20px;
    width: 300px;
    height: 310px;
    border: 1px solid #000;
    background-color: #595959;
    color: #FFF;    
    transition: bottom linear 1.2s;
}

.tip-bar {
    width: 100%;
    height:30px;
    border-bottom: 1px solid #000;
    position: relative;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 30px;
    cursor: pointer;    
    background-color:#404040;
    color: #FFF;
    
}

#tip-form {
    width:300px;
    text-align: center;
    font-family: sans-serif;
}

.form-input {
    width:90%;
}

.form-desc {
    width:90%;
    height: 70px;
    resize: none;
}



.form-button {    
    background-color:#404040;
    color: #FFF;
    cursor: pointer;
}

.tip-container:hover {
    bottom: 0;
}


.back-to-top-button {
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    
    width: 75px;
    height: 75px;
    background-color: #404040;
    border-radius: 100%;
}

.fillbox {
    width:100%;
    height:2000px;
}

.up-icon {
    position: relative;
    top: 10%;
    width: 80%;
    max-width: 100%;
    transition: all linear 0.5s;
}

.back-to-top-middle-area {
    width:85%;
    height: 85%;
    background-color: #595959;
    margin: auto;
    border-radius: 100%;
    position: relative;
    top: 7.5%;
}

.back-to-top-button:hover .up-icon {
    top: 0%;
    width: 100%;
}
#top-button {
    
    display: none;
}
